{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                    <form id="add-friend" action="#">
                        {% csrf_token %}
                        <label for="field_npm">npm</label>
                        <input id="field_npm" type="text" name="npm" class="form-control"/>
                        <button type="submit">Tambah</button>
                    </form>

                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (friend_list) {
                    var friends = JSON.parse(friend_list);
                    if(friends.length == 0){

                        var html = '<div class="alert alert-danger text-center">\
                                <strong>Opps!</strong> Tidak ada mahasiswa \
                            </div>';
                        $("#friend-list").append(html)
                    }else{
                        var counter = 0;
                        $.each(friends,function(index,friend){
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friend.pk+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';
                            var info = '<span class="col-xs-2 col-md-1 pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-default btn-block"'+
                                            'onClick="description('+friend.pk+')">'+
                                                'info'+
                                            '</button>'+
                                         '</span>';

                            var html;

                            if(counter % 2 == 0){
                                html = '<a class="list-group-item list-group-item-warning text-center">'+
                                            friend.fields.friend_name +
                                            ' (' + friend.fields.npm + ')' + button + info + '</a>';
                            }else if(counter % 2 == 1){
                                html = '<a class="list-group-item list-group-item-info text-center">'+
                                            friend.fields.friend_name +
                                            ' (' + friend.fields.npm + ')' + button + info + '</a>';
                            }

                            $("#friend-list").append(html)

                            counter += 1;
                        })
                    }
                },
                error: function(error){
                    alert("Terjadi kesalahan");
                }
            });
        });

        function deleteFriend(id){
            event.preventDefault();
            window.open('delete-friend/'+id+'/', '_self');
        }

        function description(id){
            window.open('info/'+id+'/', '_self');
        }
    </script>


    <script>

        var token = document.getElementById("token").innerHTML;
        var cid = document.getElementById("cid").innerHTML;
        alert("tanggal");

        var addFriend = function(npm) {

            $.ajax({
                method: "POST",
                url: '{% url "lab-7:add-friend" %}',
                data: {
                    name: npm,
                    npm: npm};                },
               success : function (friend) {
                    html = '<a class="list-group-item clearfix">' +
                            nama + ' (' + npm +')</a>';
                    $("#friend-list").append(html)
                },
                error : function (error) {
                    alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
                }
            });
        };

        $("#add-friend").on("submit", function (event) {
          alert("pressed");
          event.preventDefault();
            var npm = $("#field_npm").val();
            var corsProxy = 'https://cors-anywhere.herokuapp.com/';
            var obj = new Object(); obj.access_token = token; obj.client_id = cid;
            var param = $.param(obj);
            $.ajax({
                method: "GET",
                url: corsProxy+'https://api-dev.cs.ui.ac.id/siakngcs/mahasiswa/'+npm+'/?'+param,
                success: function(data) {
                    addFriend(data.nama, data.npm, data.alamat_mhs,data.kd_pos_mhs,
                              data.kota_lahir,data.tgl_lahir,
                              data.program[0].nm_org,data.program[0].nm_prg)
                },
                error: function(error) {
                    console.log(error)
                    alert("\n\t\t\tNPM tidak valid:\n\n'Tidak ada mahasiswa dengan NPM tersebut'")
                }
            });
            event.preventDefault();
        });

        $("#field_npm").change(function () {
            console.log( $(this).val() );
            npm = $(this).val();
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:validate-npm" %}',
                data: {
                    'npm': npm
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if (data.is_taken) {
                        alert("Mahasiswa dengan npm seperti ini sudah ada");
                    }
                }
            });
        });
    </script>
{% endblock %}
